.App{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.quote{
    background: rgb(238, 199, 5);
    background-size: cover;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote h2{
    font-size: 2em;
}

.quote p{
    font-size: 1.5em;
}

.btn{
    display: block;
    border: 2px solid #008cba;
    background: transparent;
    padding: 10px 15px;
    color: #008cba;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background 1s, color 1s;
}

.btn:hover{
    background: #008cba;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}